.Header {
   
}

.TopDiv {
    background-color: #ABD2F3;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
   
}

.ImgDiv {
    display: flex;
    justify-content: center;
    
}

.ImgDiv img {
    width: 100%;
    margin: none;
    padding: none;        
}